.main {
  height: 93vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  display: block;
}
.remove_resize {
  resize: none;
}
.input_text {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  background: #303030;
  border: 1px solid #f2f2f2;
  width: 100%;
  margin: 0.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.input_text:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background-color: #252525;
}
.form {
  width: 20%;
  min-width: 400px;
}
.title {
  font-size: 3rem;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.submit {
  background-color: #202020;
  padding: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin: 0.5rem;
  border: 1px solid #202020;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  opacity: 85%;
  cursor: pointer;
}
.submit:hover {
  opacity: 100%;
}
.submit:focus {
  outline: none;
  border-color: #f2f2f2;
}

@media only screen and (max-width: 420px) {
  .form {
    min-width: 95vw;
  }
}
